<div class="row pb-5">
    <div class="col-md-3">
        <img src="{{usuario.imagen}}" class="rounded" alt="{{usuario.nombre}} {{usuario.apellidos}}">
        <div class="list list-botones d-flex">
            <div class="list-boton" *ngIf="!usuario.borrado">
                <a [routerLink]="['/dashboard/', rolUsuario]"><i class="bi bi-arrow-left-square activado"></i></a>
            </div>

            <div class="list-boton" *ngIf="!usuario.borrado && rolUsuario==='admin'">
                <!-- boton validar -->
                <button *ngIf="usuario?.validado" (click)="validarProfesor(usuario.id, usuario.validado)"
                    class="boton-icono" alt="Validar"><i class="bi bi-person-fill-check activado"></i></button>
                <button *ngIf="!usuario.validado" (click)="validarProfesor(usuario.id, usuario.validado)"
                    class="boton-icono" alt="Validar"><i class=" bi bi-person-fill-x desactivado"></i></button>
            </div>

            <div class="list-boton" *ngIf="rolUsuario !== 'admin'">
                <a [routerLink]="['/dashboard/', rolUsuario]"><i class="bi bi-pencil-square activado"
                        alt="Modificar"></i></a>
            </div>

            <div class="list-boton align-self-end">
                <button (click)="borrarUsuario(usuario.id, usuario.borrado)"
                    [ngClass]="{ desactivado: usuario?.borrado, activado: !usuario?.borrado}" class="boton-icono"
                    alt="Borrar">
                    <i class=" bi bi-trash3-fill"></i></button>
            </div>

        </div>
    </div>
    <div class="col-md-9">
        <h1>{{usuario.nombre}} {{usuario.apellidos}}</h1>
        <ul class="list-group list-group-flush">

            <li class="list-group-item"><span class="fw-bold">Username: </span>{{usuario.username}}</li>
            <li class="list-group-item"><span class="fw-bold">Email: </span>{{usuario.email}}</li>
            <li class="list-group-item"><span class="fw-bold">Teléfono: </span>{{usuario.telefono}}</li>
            <li class="list-group-item"><span class="fw-bold">Dirección: </span>{{usuario.direccion}}</li>
            <li class="list-group-item"><span class="fw-bold">Ciudad: </span>{{usuario.ciudad}}</li>
            <li class="list-group-item"><span class="fw-bold">Edad: </span>{{usuario.edad}}</li>
            <li class="list-group-item"><span class="fw-bold">Genero: </span>{{usuario.genero}}</li>
            <li class="list-group-item"><span class="fw-bold">DNI: </span>{{usuario.dni}}</li>
            <li class="list-group-item"><span class="fw-bold">Fecha de nacimiento: </span>{{usuario?.fecha_nacimiento
                |
                date : 'd/M/yyyy' }}</li>
            <li class="list-group-item"><span class="fw-bold">Fecha de alta: </span>{{usuario.fecha_alta | date:
                'd/M/yyyy / h:mm a'}}</li>
            <li class="list-group-item"><span class="fw-bold">Experiencia: </span>{{usuario.experiencia}}</li>
            <li class="list-group-item"><span class="fw-bold">Precio hora: </span>{{usuario.precio}}</li>
            <li class="list-group-item"><span class="fw-bold">Asignaturas: </span>
                <span *ngFor="let asignatura of usuario.asignaturas; let ultimo = last">{{asignatura.nombre}}<span
                        *ngIf="!ultimo"> | </span> </span>
            </li>
        </ul>
    </div>
</div>