<h1 class="mb-4 text-center">Acceso usuarios</h1>
<div class="row justify-content-center">
    <form class="col-md-6 col-lg-4 border rounded-3 p-4" #loginForm="ngForm" (ngSubmit)="getLogin(loginForm)">
        <div class="row mb-3">
            <label for="email" class="col-sm-3 col-form-label">Email</label>
            <div class="col-sm-9">
                <input type="email" class="form-control" id="email" name="email" ngModel>
            </div>
        </div>
        <div class="row mb-3">
            <label for="password" class="col-sm-3 col-form-label">Contraseña</label>
            <div class="col-sm-9">
                <input type="password" class="form-control" id="password" name="password" ngModel>
            </div>
        </div>
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-success">Enviar</button>
        </div>
    </form>
</div>